/* BREAKPOINT */

/* @media (max-width: 575.98px) {
    .feature-content {
        margin-top: 100px;
    }
} */

/* END BREAK POINT */
body {
    font-family: 'Montserrat', sans-serif;
}

.bg-darkblue {
    background-color: #00437D;
}

.navbar-brand {
    font-weight: 800;
    font-size: 24px;
}

.nav-link {
    font-weight: 400;
    font-size: 13px;
}

.contact-content {
    background-color: #004E92;
    height: 36px;
}

.navbar-content {
    /* background-color: #00437D; */
    height: 100px;
}

.cover-content {
    background-image: url('assets/cover.png');
    background-size: cover;
    /* background-color: #1979cc; */
    /* background-color: #00437D; */
    /* height: 490px; */
}

.cover {
    margin-top: 12vh;
    margin-bottom: 15vh;
}

.big-title {
    font-weight: 800;
    font-size: 46px;
}

.garis {
    /* width: 650px; */
    border: 3px solid #D9CF26;
    margin-bottom: 20px;
}

.feature-content {
    /* background-color: #fff; */
    height: 24vh;
    margin-top: -50px;
}

.feature-content-1 {
    background-color: #F06110;
    height: 23vh;
}

.feature-content-item {
    margin-top: 20px;
}

.feature-content-item-2 {
    margin-top: 32px;
}

.feature-content-2 {
    background-color: #D9CF26;
    height: 23vh;
}

.feature-left-2 {
    margin-top: 43px;
    /* margin-left: 2px; */
}

.feature-right-2 {
    margin-top: 56px;
    font-weight: 500;
    font-size: 17px;
}

.feature-content-3 {
    background-color: #80BD43;
    height: 23vh;
}

.feature-content-4 {
    background-color: #5F7BF2;
    height: 23vh;
}

.feature-content-5 {
    background-color: #A0814B;
    height: 23vh;
}

.about-content {
    /* background-color: #00437D; */
    /* height: 473px; */
    margin-top: 85px;
}

.about-content-left {
    /* background-color: #1D6491; */
    height: 473px;
}

.title-about {
    font-weight: 800;
    font-size: 26px;
    color: #00437D;
}

.about-body {
    font-size: 18px;
    line-height: 32px;
    margin-top: 46px;
    text-align: justify;
}

.about-content-right {
    /* background-color: #668EA9; */
    height: 473px;
}

.visi-content {
    /* background-color: rgba(38, 38, 38, 0.8); */
    background-image: url('assets/visi-pic.png');
    background-size: cover;
    height: 342px;
    margin-top: 85px;
}

.visi-title {
    font-size: 30px;
    font-weight: 800;
    margin-top: 38px;
}

.visi-body {
    font-size: 36px;
    margin-top: 39px;
}

.misi-content {
    /* height: 1090px; */
    margin-top: 85px;
}

.misi-title {
    font-weight: 800;
    font-size: 30px;
    color: #00437D;
}

.misi-content {
    line-height: 35px;
    text-align: justify;
}

.footer-line {
    background-color: #F06110;
    height: 10px;
}

.footer {
    background-color: #00437D;
    height: 60px;
}

.header {
    background-image: url('assets/header-history.png');
    background-size: cover;
    height: 274px;
}

.title-header {
    margin: 110px;
    font-weight: 700;
    font-size: 50px;
}

.sub-title {
    font-weight: 700;
    color: #00437D;
}

.about-us-content {
    line-height: 30px;
    text-align: justify;
}

@media (max-width: 575.98px) {

    body {
        background-color: #EBEBEB;
    }

    .contact {
        font-size: 14px;
        margin-top: 4px;
    }

    .cover p {
        font-size: 14px;
    }

    .cover h1 {
        font-size: 30px;
    }

    .feature-content-item img {
        width: 50px;
        height: 50px;
        margin-top: 10px;
    }

    .feature-content-1 {
        margin-top: 10px;
        border-radius: 20px;
        width: 340px;
        margin-left: 18px;
    }

    .feature-content-2 {
        margin-top: 10px;
        border-radius: 20px;
        width: 340px;
        margin-left: 18px;
    }

    .feature-content-3 {
        margin-top: 10px;
        border-radius: 20px;
        width: 340px;
        margin-left: 18px;
    }

    .feature-content-4 {
        margin-top: 10px;
        border-radius: 20px;
        width: 340px;
        margin-left: 18px;
    }

    .feature-content-5 {
        margin-top: 10px;
        border-radius: 20px;
        width: 340px;
        margin-left: 18px;
    }

    .about-content {
        margin-top: 700px;
        background-color: #fff;
        border-radius: 60px;
        width: 355px;
    }

    .title-about svg {
        width: 40px;
        height: 40px;
    }

    .title-about {
        font-size: 20px;
    }

    .about-body {
        font-size: 12px;
        line-height: 5vh;
        margin-top: 20px;
    }

    .btn-primary {
        font-size: 12px;
    }

    .visi-body {
        font-size: 26px;
        margin-top: 25px;
    }

    .misi-content {
        margin-top: -200px;
    }

    .misi-content {
        margin-top: 30px;
    }
}